/* You can add global styles to this file, and also import other style files */
h1{
    background: powderblue;
    text-align: center;
    font-family: 'Arial';
}
@import "~C:/Users/s.kashireddy/Desktop/angular_4/material-demo/node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";